.container{
}
.board {
	background-color: #00802b;
	height: 740px;
	width: 700px;
	margin: 0 auto;
}

.box {
	background-color: #86592d;
	height: 200px;
	border: 2px solid black;
	width: 200px;
	float: left;
	margin: 0 auto;
	color: white;
	font-size: 13em;
	text-align: center;
	margin-left: 10px;
	margin-bottom: 10px;
}

/*h1 {
	background-color: #00802b;
	font-size: 5em;
	text-align: center;

}*/

p {
	color: white;
	font-size: 5em;
	text-align: center;
}

.wrap {
	margin:0 auto;
}